{% extends 'index.html' %}

{% block title %}Contact Us{% endblock %}

{% block content %}
<div class="contact">
    <div class="container">
        <h2>Contactati-ne!</h2>
        <form method="post" action="{{ url_for('contact') }}">
            <label for="name">Nume:</label>
            <input type="text" id="name" name="name" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="car-make">Modelul masinii(Ex. Audi A4 B7,2007):</label>
            <input type="text" id="car-make" name="car-make" required>

            <label for="engine-type">Tip motor:</label>
            <select id="engine-type" name="engine-type" required>
                <option value="naturally aspirated gas">Turbo diesel</option>
                <option value="turbo diesel">Turbo benzina</option>
                <option value="turbo gas">Benzina aspirat</option>
            </select>

            <label for="engine-size">Capacitate cilindrica:</label>
            <input type="number" id="engine-size" name="engine-size" step="0.01" required>

            <label for="message">Mesaj:</label>
            <textarea id="message" name="message" rows="4" required></textarea>

            <button type="submit">Trimite mesaj</button>
        </form>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flash-messages">
                    {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
</div>
{% endblock %}
